[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp=3.7.4
beautifulsoup4=4.6.3
selenium=3.141.0
untangle=1.1.1

[dev-packages]

[requires]
python_version = "3.8"
